<section>
    <img class="w-full" src="/public/img/hero.jpg" alt="Imagen de Marios Bros ">
</section>
<section>
    <div class="bg-[url(/public/img/wave-white.png)] h-6 bg-repeat-x relative -top-2"></div>
    <div class="bg-[url(/public/img/pattern-white-dots.png)] text-center p-4 md:flex-row flex-col gap-3 justify-center">
        <a href="" class="inline-block py-3 px-16 bg-black text-white 
        font-bold border-transparent border-8 text-2xl rounded-3xl
        hover:border-gray-200 hover:bg-white hover:text-black transition duration-200">Buy Now</a>
        <a href="" class="inline-block py-3 px-16 bg-red-500 text-white 
        font-bold border-transparent border-8 text-2xl rounded-3xl
        hover:border-gray-200 hover:bg-white hover:text-black transition duration-200">Whatch the Trailer</a>
    </div>
    <div class="bg-[url(/public/img/wave-white.png)] h-6 bg-repeat-x relative top-2"></div>
</section>

<section class="bg-red-500 h-6"></section>

<!-- 46:50 time https://www.youtube.com/watch?v=VbYEtvXroqE -->