<header class="flex justify-between lg:justify-start items-center">
  <div class="logo p-2">
      <img class="w-full" src="/img/logo.png" alt="Logo Super Mario 3D Worlds">
  </div>
  <nav class="link text-white ">
      <ul class="mx-4 flex gap-4">
        <li><a href="#">Home</a></li>
        <li><a href="#">Play Together</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Browser Fury</a></li>
        <li><a href="#">Buy Now</a></li>
      </ul>
    </nav>
</header>


<!-- https://images.pexels.com/photos/136399/pexels-photo-136399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 -->

