---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/landing/Hero.astro';
---

<Layout>
	<main >
		<Hero />
		<h1>Contenido</h1>
	</main>
</Layout>

<!-- https://www.youtube.com/@webcads -->
 <!-- flowbite.com -->


 <!--mario3d https://www.youtube.com/watch?v=VbYEtvXroqE -->