---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/landing/Navbar.astro';
---

<Layout>
	<main class="container mx-auto bg-gray-800 ">
		<Navbar></Navbar>
	</main>
</Layout>

<!-- https://www.youtube.com/@webcads -->
 <!-- flowbite.com -->


 <!--mario3d https://www.youtube.com/watch?v=VbYEtvXroqE -->